/* ========================================
   GLOBAL RESET
======================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  min-width: 320px;
}

body {
  min-width: 320px;
  min-height: 100vh;

  font-family: Georgia, "Times New Roman", serif;

  color: #302217;
  background: #dfaaaa;
}

button,
input {
  font-family: inherit;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
}